<div class="jumbotron">
	<div class="container">
		<h1 class="title">Projects</h1>
	</div>
</div>
<div class="container2">
<div class="panel-group" id="accordion">
  <div class="panel panel-default" style="height: auto">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		<h4>PlanIt App</h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
				<h4>This application is an original project created by myself. It was created to solve the problem of planning events with a large group of people without the need for long e-mail threads or group text messages.
				</h4>
				<h4>
				It is still a work in progress, but currently, some of things it is able to do are: create an event, invite individuals or people in the user created groups list, suggest locations from favorites, and suggest event times through drag and drop functionality.
				</h4>
				<h4>
				The app was created with Ruby on Rails for user authentication and the rest in Backbone.js. Other utilized technologies include RABL, jQuery, Bootstrap, and AJAX.
				</h4>
				<h4><a href="http://www.github.com/leesungchul/PlanItApp" type="button" class="btn btn-primary">Check Out the Code!!</a></h4>
				<h4><a href="http://planitapp.herokuapp.com" type="button" class="btn btn-primary">Check Out the Current Live Version!!</a></h4>
			</div>
    </div>
  </div>
  <div class="panel panel-default" style="height: auto">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		<h4>Active Record Lite</h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
				<h4>
				This project was written to gain a better understanding of how the magic of Ruby on Rails works. By utilizing Ruby metaprogramming, some of the basic functionalities of Rails such as mass-assignment protection, creating reader and writer methods for instance variables, and the awesome power of associations were replicated.
				</h4>
				<h4>
				I really enjoyed this project as it allowed me to get a better understanding of how Ruby on Rails works under the hood. New technology has always been created to make things easier, but also forces you to be bound by its constraints. By knowing how it works, instead of being bound by the program, I have confidence that I can modify the boundaries or create my own.
				</h4>
				<h4><a href="http://www.github.com/leesungchul/ActiveRecordLite" type="button" class="btn btn-primary">Check Out the Code!!</a></h4>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="height: auto">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		<h4>Asteroids</h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
				<h4>
				This is a clone of the original classic arcade game. It was written purely in javascript and html5. Object movement and collisions were all calculated using simple vector algebra. The gameplay is still very basic, but I'm looking forward to filling it out more in the future.
				</h4>
				<h4><a href="http://www.github.com/leesungchul/AsteroidGame" type="button" class="btn btn-primary">Check Out the Code!!</a></h4>
				<h4><a href="/asteroids" type="button" class="btn btn-primary">Play the Game!!</a></h4>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="height: auto">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		<h4>SnakeTron</h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
				<h4>
				This project was another clone of an original classic arcade game. However, a tron-style gameplay was also implemented that allows for two person PVP. This game was written in javascript and jQuery. This is a two-player game so grab a friend and enjoy!
				</h4>
				<h4><a href="http://www.github.com/leesungchul/SnakeGame" type="button" class="btn btn-primary">Check Out the Code!!</a></h4>
				<h4><a href="/snake" type="button" class="btn btn-primary">Play the Game!!</a></h4>
      </div>
    </div>
  </div>
</div>
</div>