<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1 class="title">All About Me</h1>
			</div>
			<div class="col-md-2">
				<img class="img-circle" src="http://fr.gravatar.com/userimage/60866126/dd3ed3e9a7b4eb3c662d94b63982e9ef.jpg?size=200"></img>
			</div>
		</div>
	</div>
</div>

<div class="container1">


		<div class="col-md-6 aboutme">
			<h1>Thanks for visiting!</h1>
			<h4>
				I've done many different things in my life, but the one constant has always been a love of computers and technology. I've been building and troubleshooting PCs since I was in junior high. Something about piecing things together and figuring out how to solve complex problems was extremely satisfying. I took a few intro to computer science classes during college. However, I was under the impression that the only way to become a programmer was the traditional college degree route and thought it was too late. It wasn't until recently when I was trying to teach myself how to write my own applications did I realize that technology has come so far and is so readily accessible. Since then I have been tirelessly teaching myself how to be a full-fledged web developer and have been enjoying every moment of it.
			</h4>
			<h4>
				Some of the skills that I have learned how to use are:
			</h4>
			<ul>
				<h4><li>Ruby</li></h4>
				<h4><li>Ruby on Rails</li></h4>
				<h4><li>Javascript</li></h4>
				<h4><li>Backbone</li></h4>
				<h4><li>SQL</li></h4>
				<h4><li>Git</li></h4>
				<h4><li>HTML</li></h4>
				<h4><li>CSS</li></h4>
			</ul>
			<h4>Please check out some of my projects and let me know what you think through the contact page. Thanks again for stopping by!</h4>
			<h4>-Lloyd-</h4>
		</div>
	</div>
</div>