<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="title">All About Me</h1>
      </div>
      <div class="col-md-2">
        <img class="img-circle" src="http://fr.gravatar.com/userimage/60866126/dd3ed3e9a7b4eb3c662d94b63982e9ef.jpg?size=200"></img>
      </div>
    </div>
  </div>
</div>

<div class="container1">


    <div class="col-md-6 aboutme">
      <h1>Thank you for stopping by.</h1>
      <h4>
        I’ve been hacking and troubleshooting computers since Junior High. I get a special kick out of piecing things together and solving complex problems. I now spend most of my time building full-stack web applications.
        I have hours of self-teaching, several college CS courses and advanced professional training under my belt.

      </h4>
      <h4>
        Some of the skills that I have learned how to use are:
      </h4>
      <h4>Ruby on Rails, Javascript, Backbone, SQL, Git, HTML, and CSS</h4>
      <h4>Please check out some of my projects and let me know what you think through the contact page. Thanks again for stopping by.</h4>
      <h4>-Lloyd-</h4>
    </div>
  </div>
</div>